!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      Holo
    %link{:rel => "stylesheet", :type => "text/css", :href => "holo.css"}
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

  %body()
    %table
      %tr
        %td
          .blue
        %td
          .violet
        %td
          .green
        %td
          .orange
        %td
          .red
      %tr
        %td
          .blue-dark
        %td
          .violet-dark
        %td
          .green-dark
        %td
          .orange-dark
        %td
          .red-dark
